@using Messenger.Blazor.Services
@inject IUserService UserService
@code{

    [Parameter]
    public string? UserName { get; set; }

    protected override Task OnInitializedAsync()
    {
        UserService.UserName = UserName;
        return base.OnInitializedAsync();
    }

}
<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
