@page "/"
@using Messenger.Blazor.Services

@inject IMessageProducer MessageProducer
@inject IMessageHolder MessageHolder
@inject IUserService UserService
@inject IJSRuntime Js
@inject EventService EventService
@inject IMessageService MessageService
<PageTitle>Messenger</PageTitle>

@if (UserService.UserName == null)
{
    <div class="login-form">
        <h3 >Login</h3>
        <input @bind="Name" placeholder="Username"/>
        <input type="password" @bind="Password" placeholder="Password"/>
        <button class="btn btn-primary" @onclick="() => { LoginFailed = UserService.Login(Name, Password); }">Login</button>
        @if (LoginFailed)
        {
            <div style="color:red" >Login Failed. Try Again</div>
        }
    </div>
}
else
{
   <div class="cont">

   
    <h1 >Your name: @UserService.UserName</h1>
    <br />
    <br/>
    <h1 class="text-center">Chat</h1>

    <section class="discussion">

        @foreach (var message in MessageHolder.MessageList)
        {
            if (message.UserName != null && !message.UserName.Equals(UserService.UserName))
            {
                @if (message.MessageStatus != MessageStatus.Pending)
                {
                    <div class="msg">
                        <div class="name name-left">@message.UserName</div>
                        <div class="bubble sender middle" >
                            <div>Is writing</div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="name name-right">@message.UserName</div>
                    <div class="bubble recipient">
                        <div>@message.Text</div>
                        <img src="@message.Source"/>
                    </div>
                }
            }
            else
            {
                <div class="msg">
                    <div class="name name-left">@message.UserName</div>
                    <div class="bubble sender middle" @onclick="() => { message.DeleteButtonsVisibility = !message.DeleteButtonsVisibility; }">
                        <div>@message.Text</div>
                        <img src="@message.Source"/>
                    </div>
                </div>
                if (message.DeleteButtonsVisibility && message.MessageStatus==MessageStatus.None)
                {
                    <div class="rm-btns">
                        <button class="btn rm-btn" @onclick="async() => await MessageService.DeleteMessageByUser(message)">Usuń</button>
                        <button class="btn rm-btn" @onclick="async() => await MessageService.DeleteMessageToEveryone(message)">Usuń u wszystkich</button>
                    </div> 
                }
            }
        }
        <input class="inpt" @bind-value="Text" @bind-value:event="oninput" />
        <button class="btn btn-primary" @onclick="SendMessage">Send</button>
        <InputFile OnChange="ResizeAndDisplayImageUsingStreaming" />
        <img src="@Src" />

    </section>
    </div>
}


@code {

    bool UserWriting { get; set; }
    private string? Name { get; set; }
    private string? Password { get; set; }
    bool LoginFailed { get; set; }
    string? _myVar;
    private string? Text { get => _myVar;
        set
        {
            _myVar = value;

            if (value != null && !UserWriting)
            {
                PendingMessage(MessageStatus.Pending);
                UserWriting = true;
            }
            if (!string.IsNullOrEmpty(value)) return;
            PendingMessage(MessageStatus.StopPending);
            UserWriting = false;
        }}
    private string? Src { get; set; }


    private async Task OnStatusChangedMethod(object sender, EventArgs e)
    {
        await InvokeAsync(StateHasChanged);
    }
    protected override void OnInitialized()
    {
        EventService.MyEvent += OnStatusChangedMethod;
    }
    

    private async Task SendMessage()
    {
        if (Text == null && string.IsNullOrEmpty(Src)) return;
        await MessageProducer.SendMessage(new Message()
        {
            UserName = UserService.UserName,
            Text = Text,
            Source = Src
        });
        Src = string.Empty;
        Text = null;
    }

    private void PendingMessage(MessageStatus status)
    {
        MessageProducer.SendMessage(new Message()
        {
            UserName = UserService.UserName,
            MessageStatus = status
        });
    }

    
    
    private async Task ResizeAndDisplayImageUsingStreaming(InputFileChangeEventArgs e)
    {
        var imageFile = e.File;
        var resizedImage = 
            await imageFile.RequestImageFileAsync("image/jpg", 250, 250);
        var jsImageStream = resizedImage.OpenReadStream();
        byte[] bytes;
        using (var memoryStream = new MemoryStream())
        {
            await jsImageStream.CopyToAsync(memoryStream);
            bytes = memoryStream.ToArray();
        }

        var base64 = Convert.ToBase64String(bytes);
        Src = $"data:image/jpg;base64,{base64}";
    }
}
